AUTH0_TENANT_ORIGIN=https://YOUR_TENANT.us.auth0.com
FORM_ID=ap_YOUR_FORM_ID
FORM_NAME=Onboarding
FORM_DESCRIPTION=Open this form when the user wants to set up their company profile.
FORM_SESSION_FIELD=session_token
AUTH0_FORMS_TRUST_SECRET=
AUTH0_AUDIENCE=
FORMS_ORIGIN=
MCP_AUTH=on
PORT=3000
